$headerBarPadding: 10px 5px;
$darkBlue: #083452;
$lightBlue: rgb(16, 109, 179);
$darkGray: #5E686F;
$lightGray: #AEBCC6;
$opacity: 0.7;

* { box-sizing: border-box; }
.margin0 {
    margin: 0;
}
.darkBlue {
    color: $darkBlue;
}
.lightBlue {
    color: $lightBlue;
}
.darkGray {
    color: $darkGray;
}
.lightGray {
    color: $lightGray;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.column {
    flex-direction: column;
}
.uppercase {
    text-transform: uppercase;
}
.spc_font {
    font-family: 'Istok Web', sans-serif;
}
.heading_font {
    font-family: 'Oswald', sans-serif;
}
.text_font {
    font-family: 'Asap', sans-serif;
}
a {
    color: $lightGray;
    text-decoration: underline;
    &:hover {
        color: $lightBlue;
    }
}
// start header
.header {
    height: 75vh;
    background-image: linear-gradient(rgba($lightBlue, $opacity + 0.2), rgba($lightBlue, $opacity + 0.2)), url(../img/waves.jpg);
    background-position: center;
    background-size: cover;
}
.headerbar {
    padding: $headerBarPadding;
    font-size: 18px;
}
.bar_right {
    font-size: 20px;
    font-weight: bold;
}
#logo {
    width: 60px;
}
#blog {
    font-size: 16px;
}
#search {
    margin-left: -10px;
}
.high {
    height: 100%;
    padding-bottom: 70px;
}
#header_big {
    color: #ffffff;
    font-size: 100px;
}
#header_small {
    font-size: 16px;
    margin-top: -10px;
}
// end header
// start main section
main {
    margin-top: 40px;
}
.border {
    border: 2px solid black;
}
.headline {
    font-size: 60px;
}
#profile {
    margin-bottom: 10px;
}
#social_media_list {
    list-style: none;
    padding: 0 15px;
    li {
        flex: 1;
        margin-top: 5px;
        padding: 0 5px;
        border-left: 1px solid #eee;
        &:first-child {
            border-left: none;
        }
        a {
            text-decoration: none;
        }
    }
}
.main_padding {
    padding: 10px 50px 10px 10px;
}
#sidebar {
    margin-top: 40px;
}
#ad_section {
    width: 100%;
    a {
        flex: 1;
        justify-content: flex-end;
    }
}
#ad {
    height: 275px;
    flex: 1;
    max-width: 300px;
    background-image: linear-gradient(rgba($lightBlue, $opacity), rgba($lightBlue, $opacity)), url(../img/paddle-board.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 0;
}
#ad_link {
    display: block;
    width: 100%;
    margin-top: -15px;
    a {
        text-decoration: underline;
        &:hover {
            color: $lightBlue;
        }
    }
}
#small_profile {
    height: 20px;
}
#date {
    margin-left: 10px;
    a {
        text-decoration: underline;
        &:hover {
            color: $lightBlue;
        }
    }
}
#main_text {
    padding-top: 30px;
    p {
        margin-bottom: 20px;
    }
}
blockquote {
    border-left: 3px solid #eee;
    h3 {
        font-size: 30px;
    }
}
.btn-group {
    margin-right: 5px;
    margin-top: 5px;
    a{
        color: white;
        text-decoration: none;
        border-radius: 0;
        font-size: 12px;
        &:first-child {
            background-color: $darkGray;
            padding: 6px;
        }
        &:last-child {
            background-color: $lightGray;
        }
        &:hover {

        }
    }
    &:hover {
        a {
            color: white;
            &:first-child {
                background-color: $darkBlue;
            }
            &:last-child {
                background-color: $lightBlue;
            }
        }
    }

}
// end main section

// start footer
footer {
    border-top: 2px solid #eee;
    margin-top: 40px;
}
#popular {
    padding: 40px 0;
}
.footer {
    background-color: $darkBlue;
    height: 100px;
}
.footer_item {
    flex: 1;
}
.footer_pics {
    margin: 0;
    flex: 1;
    height: 325px;
    position: relative;
    h2 {
        position: absolute;
        left: 15px;
        bottom: 15px;
        margin: 0;
        padding-right: 45px;
    }
}
#pic1 {
    background-image: linear-gradient(rgba($lightBlue, $opacity), rgba($lightBlue, $opacity)),
     url(../img/surfing.jpeg);
    background-position: center;
    background-size: cover;
    &:hover {
        h2 {
            color: white;
        }
        background-image: url(../img/surfing.jpeg);
    }
}

#pic2 {
    background-image: linear-gradient(rgba($lightBlue, $opacity), rgba($lightBlue, $opacity)),
     url(../img/beer.jpg);
    background-position: center;
    background-size: cover;
    &:hover {
        h2 {
            color: white;
        }
        background-image: url(../img/beer.jpg);
    }
}
#pic3 {
    background-image: linear-gradient(rgba($lightBlue, $opacity), rgba($lightBlue, $opacity)),
     url(../img/zach_galifianakis.jpg);
    background-position: center;
    background-size: cover;
    &:hover {
        h2 {
            color: white;
        }
        background-image: url(../img/zach_galifianakis.jpg);
    }
}
#pic4 {
    background-image: linear-gradient(rgba($lightBlue, $opacity), rgba($lightBlue, $opacity)),
     url(../img/bottles.jpeg);
    background-position: center;
    background-size: cover;
    &:hover {
        h2 {
            color: white;
        }
        background-image: url(../img/bottles.jpeg);
    }
}
#iron_yard {
    margin-right: 10px;
}
#nav_list {
    list-style: none;
    li {
        margin: 0;
        flex: 1;
        padding: 0 10px;
        border-left: 1px solid $darkGray;
        &:first-child {
            border-left: none;
        }
        a {
            text-decoration: none;
        }
    }
}
// end footer
